{% extends 'base.html.twig' %}

{% block title %}My formations{% endblock %}

    {% block top_title %}My formations{% endblock %}
    {% block content %}
        {% if formations == null %}
            <p>There's no formations added yet.</p>
        {% else %}
            <table>
            <th>Period</th>
            <th>Formation</th>
            {% for formation in formations %}
                <tr>
                    <td>{{ formation.getYears() }}</td>
                    <td>{{ formation.getName() }} at {{ formation.getInstitute() }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
{% endblock %}