{% extends 'baseAdmin.html.twig' %}

{% block top_title %}Compétences{% endblock %}

{% block admin_content %}

    {% if competences != null %}
        <div class="panel">
            <h1>Modifier mes compétences</h1>

            <div class="panel-content">
                {% for competence in competences %}
                    <form action="{{ path("set_competence") }}" method="post" enctype="multipart/form-data">
                        <input type="number" name="id" hidden value="{{ competence.getId() }}">

                        <label for="competence">Compétence</label>
                        <input type="text" name="competence" size="50" value="{{ competence.getCompetence() }}"/>
                        <br><br>

                        <label for="logo">Logo</label>
                        <input type="file" name="logo"/>
                        <br><br>

                        <label for="niveau">Niveau</label>
                        <input type='radio' name='niveau' value='Débutant'>Débutant
                        <input type='radio' name='niveau' value='Moyen'>Moyen
                        <input type='radio' name='niveau' value='Très Bon'>Très Bon
                        <br><br>

                        <input type="submit" name="action" value="Modifier">
                        <input type="submit" name="action" value="Supprimer">
                    </form>

                    {% if loop.last == false %}
                        <br>
                        <hr>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1>Nouvelle compétence</h1>

        <div class="panel-content">
            <form action="{{ path('add_competence') }}" method="post" enctype="multipart/form-data">
                <label for="competence">Compétence</label>
                <input type="text" name="competence" size="50"/>
                <br><br>

                <label for="logo">Logo</label>
                <input type="file" name="logo"/>
                <br><br>

                <label for="niveau">Niveau</label>
                <input type='radio' name='niveau' value='Débutant'>Débutant
                <input type='radio' name='niveau' value='Confirmé'>Confirmé
                <input type='radio' name='niveau' value='Expert'>Expert

                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

{% endblock %}