{% extends 'baseAdmin.html.twig' %}

{% block top_title %}Compétences{% endblock %}

{% block content %}

    {% if competences != null %}
        <div class="panel">
            <h1><i class="fa fa-edit"></i> Modifier mes compétences</h1>

            <div class="panel-content">
                {% for competence in competences %}
                    <form action="{{ path("set_competence") }}" method="post" enctype="multipart/form-data">
                        <input type="number" name="id" hidden value="{{ competence.getId() }}">

                        <div class="form-row">
                            <label for="competence">Compétence</label>
                            <input type="text" name="competence" size="50" value="{{ competence.getCompetence() }}"/>
                        </div>

                        <div class="form-row">
                            <label for="logo">Logo</label>
                            <input type="file" name="logo"/>
                        </div>

                        <div class="form-row">
                            <label for="niveau">Niveau</label>
                            <input type='radio' name='niveau' value='Débutant'>Débutant
                            <input type='radio' name='niveau' value='Moyen'>Moyen
                            <input type='radio' name='niveau' value='Très Bon'>Très Bon
                        </div>

                        <div class="form-submit">
                            <input type="submit" name="action" value="Modifier">
                            <input type="submit" name="action" value="Supprimer">
                        </div>
                    </form>

                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <h1><i class="fa fa-plus"></i> Nouvelle compétence</h1>

        <div class="panel-content">
            <form action="{{ path('add_competence') }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <label for="competence">Compétence</label>
                    <input type="text" name="competence" size="50"/>
                </div>

                <div class="form-row">
                    <label for="logo">Logo</label>
                    <input type="file" name="logo"/>
                </div>

                <div class="form-row">
                    <label for="niveau">Niveau</label>
                    <input type='radio' name='niveau' value='Débutant'>Débutant
                    <input type='radio' name='niveau' value='Confirmé'>Confirmé
                    <input type='radio' name='niveau' value='Expert'>Expert
                </div>

                <div class="form-submit">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}