{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block top_title %}<h1><i class="fa fa-sign-in"></i> Administration</h1>{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <p class="error">{{ erreur }}</p>

    <div class="panel">
        <h1>Connexion</h1>

        <form action="{{ path('admin_connexion') }}" method="POST">
            <div class="form-row">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required/>
            </div>

            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required/>
            </div>

            <div class="form-submit">
                <button type="submit">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}
