{% extends 'base.html.twig' %}

{% block title %}Efolio - Admin{% endblock %}

{% block content %}
    <div class="panel">
        <h1>Formation</h1>
        <div class="panel-content">
            <form action="{{path('add_formation')}}" method="POST">
                <label for="years">Années</label>
                <input type="text" name="years" placeholder="XXXX - XXXX" size="10"/>
                <br><br>
                <label for="formation">Formation </label>
                <input type="text" name="formation" size="50"/>
                <br><br>
                <label for="institute">Etablissement</label>
                <input type="text" name="institute" size="50"/>
                <br><br>
                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>

    <div class="panel">
        <h1>Compétence</h1>
        <div class="panel-content">
            <form action="{{path('add_competence')}}" method="POST">
                <label>Années <input type="text" name="years" placeholder="XXXX - XXXX" size="10"/></label>

                <label>Compétence <input type="text" name="competence" size="10"/></label>

                <button type="submit">Ajouter</button>
                <button type="reset">Effacer</button>
            </form>
        </div>
    </div>
{% endblock %}