@import url('https://fonts.googleapis.com/css?family=Raleway');

/* --------------------- GENERAL --------------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
    display: inline-block;
}

form {
    text-align: start;
}

form > label {
    display: inline-block;
    width: 105px;
    vertical-align: middle;
}

button, input[type="submit"] {
    border: transparent;
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

/* --------------------- POSITION DIV --------------------- */
#top, #bottom {
    padding: 5px;
    background-color: #ff5959;
    text-align: center;
}

#bottom {
    font-style: italic;
}

#box {
    flex: 1 0 auto;
    display: flex;
}

#content {
    margin: 5px;
    flex: 1 0;
    text-align: center;
}

/* --------------------- PANEL --------------------- */
.panel {
    width: 130vh;
    border: 1px solid #C9C9C9;
    border-radius: 5px;
    margin-bottom: 30px;
}

.panel > h1 {
    background-color: #CCCCCC;
    margin:0;
    padding: 5px;
}

.panel-content {
    text-align: justify;
    padding: 15px;
}

/* --------------------- POSITION TEXTE --------------------- */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* --------------------- TABLE --------------------- */
table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid black;
}

td, th {
    padding: 10px 25px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}