/* --------------------- GENERAL --------------------- */
body {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 100vh;
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #FFFFFF;
    font-family: 'Arimo', sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
}

li {
    margin: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: large;
}

/* --------------------- MENU --------------------- */
.menu, .menu a {
    background-color: #ffcccc;
    color: #b30000;;
}

/* --------------------- FORM --------------------- */
form {
    width: 75%;
    margin: 25px auto;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-row > label {
    width: 25%;
    font-weight: bold;
    text-align: right;
}

.form-row > label.label-radio {
    width: 70px;
    font-weight:normal;
    text-align: initial;
    margin-left: 10px;
}

.form-row > input, .form-row > textarea {
    width: 70%;
    margin: auto 20px;
}

.form-submit {
    text-align: center;
}

.form-submit input[type="submit"] {
    margin: 0 15px;
}

/* --------------------- BUTTON --------------------- */
button, input[type="submit"] {
    border: 2px outset #ffb3b3;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    color: #b30000;
    background-color: #ffcccc;
}

/* --------------------- POSITION DIV --------------------- */
#top {
    color: #FFFFFF;
}

#top .small-text > a {
    color: #FFFFFF;
}

#top, #bottom {
    padding: 5px;
    background-color: #ff5959;
    text-align: center;
}

#bottom {
    font-style: italic;
}

#box {
    flex: 1 0 auto;
    display: flex;
}

#content {
    flex: 1 0;
    text-align: center;
}

/* --------------------- PANEL --------------------- */
.panel {
    width: 80%;
    border: 2px solid #ffcccc;
    border-radius: 5px;
    margin: 20px auto;
}

.panel > h1 {
    color: #b30000;
    background-color: #ffcccc;
    margin:0;
    padding: 5px;
}

.panel-content {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

/* --------------------- ELEMENTS DU PORTFOLIO --------------------- */
.formation, .projet, .publication, .recommandation {
    width: 90%;
    text-align: justify;
    margin: auto;
}

.formation p, .projet p {
    padding-left: 3%;
}

.competence {
    display: inline-block;
    text-align: center;
    margin: auto 20px;
}

.competence > p {
    font-weight: bold;
}

/* --------------------- TEXTE --------------------- */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small-text {
    font-size: medium;
}

/* --------------------- TABLE --------------------- */
table {
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

th {
    border-bottom: 1px solid black;
}

td, th {
    padding: 10px 25px;
}

tr:nth-child(even) {
    background-color: #fff0f0
}