@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Arimo');
/* --------------------- GENERAL --------------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.menu, .menu a {
    color: #e9322d;
}

h1 {
    color: #FFFFFF;
    font-family: 'Arimo', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: large;
}

/*FORM*/
form {
    width: 75%;
    margin: 15px auto;
}

.form-row {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

.form-row > label {
    width: 25%;
    font-weight: bold;
    text-align: right;
}

.form-row > input, .form-row > textarea {
    width: 70%;
    margin: auto 20px;
}

.form-submit {
    text-align: center;
}

.form-submit input[type="submit"] {
    margin: 0 15px;
}

/*BUTTON*/
button, input[type="submit"] {
    border: transparent;
    border-radius: 5px;
    width: 90px;
    height: 25px;
}

/* --------------------- POSITION DIV --------------------- */
#top, #bottom {
    padding: 5px;
    background-color: #ff5959;
    text-align: center;
}

#bottom {
    font-style: italic;
}

#box {
    flex: 1 0 auto;
    display: flex;
}

#content {
    margin: 5px;
    flex: 1 0;
    text-align: center;
}

/* --------------------- PANEL --------------------- */
.panel {
    width: 150vh;
    border: 2px solid #ffcccc;
    border-radius: 5px;
    margin: 20px auto;
}

.panel > h1 {
    background-color: #ffcccc;
    margin:0;
    padding: 5px;
}

.panel-content {
    margin: auto;
    text-align: justify;
    padding: 15px;
}

/* --------------------- TEXTE --------------------- */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small-text {
    font-size: medium;
}
/* --------------------- TABLE --------------------- */
table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid black;
}

td, th {
    padding: 10px 25px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}